/*------------------------------Colors*/

/*-----------------------Navbar*/
.navbar-light .navbar-nav .nav-link .navbar-light .navbar-brand {
    color: #777777
}

/*------------------------------Navbar*/
.navbar-brand {
    background-color: white;
    padding: 30px 30px;
    font-family: Oswald, sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.navbar-nav,
.navbar-toggler {
    margin-right: 30px;
}

.navbar-nav li {
    margin-left: 15px;
    margin-right: 15px;
}

.nav-item {
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.nav-item.active {
    text-decoration: underline;
    color: #777777;
}

/*------------------------------Hero*/
.hero {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.hero-contact {
    width: 100%;
    height: 800px;
    overflow: hidden;
    position: relative;
}

.hero-image {
    width: 100%;
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.hero-image-index {
    background: url('../../assets/images/hero.jpeg') center center no-repeat;
}

.hero-image-clubs {
    background: url('../../assets/images/hero2.jpeg') center center no-repeat;;
}

.hero-image-about {
    background: url('../../assets/images/hero3.jpeg') center center no-repeat;;
}

.hero-image-contact {
    width: 100%;
    height: 800px;
    background: url('../../assets/images/hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

@keyframes hero-zoom {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1.2);
    }
}

#club-name h2 {
    color: #ffffff;
    font-size: 29px;
}

#club-name {
    font-family: Oswald, sans-serif;
    letter-spacing: 2px;
    width: 200px;
    height: 200px;
    padding: 10px 10px 10px 13px;
    background-color: #10467860;
    bottom: 50px;
    left: 150px;
    position: absolute;
    font-weight: 700;
}

/*------------------------------Index Page About Section*/

#about {
    padding-bottom: 50px;
}

#left-about {
    padding-top: 30px;
}

#right-about {
    padding-top: 30px;
}

#center-about {
    margin: 0 auto;
}

hr {
    border-top: 1px solid #777777;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading .right-about-heading {
    width: 80%;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    float: right;
    font-weight: 400;
}

.right-about-heading {
    float: left;
    text-align: right;
}

.right-about h2 {
    text-align: right;
}

#page-title {
    text-align: center;
    margin: 50px 0;
    letter-spacing: 2px;
    font-size: 35px;
    text-transform: uppercase;
    font-family: Oswald, sans-serif;
    font-weight: 700;
    
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url("../../assets/images/circle_index.jpg") center center no-repeat;
    height: 100%;
    border-radius: 50%;
}

/*------------------------------Index Page Club Details*/

.club-index-row {
    background-image: url("../../assets/images/clubs_info_index.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    display: flex;
    opacity: 80%;
    color: white;
    justify-content: space-between;
    margin: 0px;
}

.club-index-info {
    font-family: Oswald, sans-serif;
    background-color: rgba(36, 36, 36, 0.70);
    padding: 30px;
    text-align: center;
    vertical-align: center;
    width: 24.5%;
}

.club-index-info-text {
    vertical-align: middle;
}

/*------------------------------Footer*/
.mb-4 a {
    color: #777777;
}

.fab {
    font-size: 29px;
}



/*------------------------------Clubs Page*/

.card-group {
    padding: 10px 10px 10px 10px;
}

.card {
    margin: 10px;
    border: none;
}

/*------------------------------Google Map*/
.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}


/*------------------------------About Page*/
#about-image {
    max-width: 350px;
    margin-right: 10px;
}

.clickthrough {
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
    font-size: 16px;
    margin: 4px 2px;
    background-color: #104678;
}

.clickthrough:hover {
    color: white;
    background-color: #7bb6ed;
}

#button {
    width: 100%;
}

/*------------------------------Contact Page*/
.form-section {
    font-family: Roboto, sans-serif;
}

.form-section {
    clear: left;
    background: url("../../assets/images/contact.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.enquiry-form {
    margin-top: 150px;
    color: #242424;
    background-color: #10467840;
    max-width: 500px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.enquiry-form h2 {
    color: #242424;
    margin-bottom: 20px;
}

.text-input {
    background: #fafafa60;
    color: #242424;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #242424;
    border-radius: 2px;
}

.text-input-enquiry {
    background: #fafafa60;
    color: #242424;
    width: 100%;
    height: 100px;
    margin: 5px 0 20px 0;
    border: 1px solid #242424;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #fafafa;
}

.text-input-enquiry:hover {
    border-color: #fafafa;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #104678;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #104678;
}

/*------------------------------Adjustments for Smaller Screen Types*/

@media only screen and (max-width: 575px) {
    .enquiry-form {
        max-width: 100%; /* Set the maximum width to 100% for small screens */
        left: 0; /* Center the form on small screens */
    }

    #about-text {
        padding: 40px;
    }

    #club-name {
        left: 10px;
    }

    #about {
        padding-left: 20px;
        padding-right: 20px;
    }

    .club-index-info {
        width: 100%;
    }

}